# =========================
# 项目指定忽略项
# =========================
# 忽略虚拟环境目录
.venv/

# 忽略静态资源与模型大文件
assets/

# =========================
# Python 缓存与临时文件
# =========================
__pycache__/
*.py[cod]
*$py.class
*.log
*.tmp
.pytest_cache/

# =========================
# IDE 与操作系统文件
# =========================
# JetBrains 系列 (如 PyCharm, Fleet 等)
.idea/

# VS Code
.vscode/

# 操作系统缓存文件
.DS_Store
Thumbs.db